* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: var(--ff);
}

img,
picture,
svg {
	max-width: 100%;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  
  --ff: 'Outfit', sans-serif;
  --pd: 1rem;
  --br: 15px;
}

body {
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  min-height: 100dvh;
  min-width: 375px;
  max-width: 1440px;
  padding: var(--pd);
}

.card {
  max-width: 20em;
  padding: var(--pd);
  border-radius: var(--br);
  background-color: var(--white);
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.2);
}

.card__qrCode {
  border-radius: calc(var(--br) - 5px);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: .25em;
  padding: var(--pd);
}

.card__bigText,
.card__smallText {
  text-align: center;
}

.card__bigText {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

.card__smallText {
  color: var(--grayish-blue);
  font-size: .95rem;
}